
<form method="post">
	<input type="hidden" value="{{ pot.id }}" name="id">
	<label for="amount"> €</label>
	<input type="text" value="{{ pot.amount }}" name="amount" id="amount">
	<button>Submit</button>
</form>
