{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Pots</h1>
    <ul>
        {% for pot in pots %}
            <li><a href="/pots/show?id={{ pot.id }}">{{ pot.id }}. {{ pot.amount }}</a></li>
        {% else %}
            <li>300 €</li>
        {% endfor %}
    </ul>
{% endblock %}
