{% extends 'layout.html.twig' %}

{% block content %}
<div class="pot-title">
    <h1>Pot</h1>
</div>
    <ul>
        {% for pot in pots %}
            <li><a href="/pots/show?id={{ pot.id }}">{{ pot.id }}. {{ pot.amount }}</a></li>
        {% else %}
            <li>300 €</li>
        {% endfor %}
    </ul>
{% endblock %}
