{% extends 'layout.html.twig' %}

{% block nav %}
{% include "Layouts/nav.html.twig" %}
{% endblock %}

{% block footer %}
{% include "Layouts/footer.html.twig" %}
{% endblock %}

{% block content %}
<div class="welcome-title">
    <h1 class="text-center">Bienvenue chez Share Tool</h1>
</div>
{% endblock %}
