{% extends 'layout.html.twig' %}

{% block nav %}
{% include "Layouts/nav.html.twig" %}
{% endblock %}

{% block footer %}
{% include "Layouts/footer.html.twig" %}
{% endblock %}

{% block content %}
    <h1>Hello Wilder !</h1>
{% endblock %}
