{% extends 'layout.html.twig' %}

{% block nav %}
{% include "Layouts/nav.html.twig" %}
{% endblock %}

{% block footer %}
{% include "Layouts/footer.html.twig" %}
{% endblock %}

{% block content %}
    <h1>Bienvenu !</h1>
    <h2>Choisis un outil à réserver</h2>
    {% for tool in tools %}
    <div class="card border-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">
            {% if tool.is_booked == 0 %}
            <button type="button" class="btn btn-outline-success"><a href="/tools/reservation">Réserver</a></button>
            {% elseif tool.is_booked == 1 %}
            <button type="button" class="btn btn-outline-danger"><a href="">Indisponible</a></button>
            {% endif %}</div>
        <div class="card-body">
          <h4 class="card-title">{{ tool.name }} </h4>
          <p class="card-text">Text</p>
        </div>
      </div>
    </div>
    {% endfor %}

    {# <ul>
        <li>
            {{ tool.name }} 

            {% if tool.is_booked == 0 %}
            <button type="button" class="btn btn-outline-success"><a href="">Réserver</a></button>
            {% elseif tool.is_booked == 1 %}
            <button type="button" class="btn btn-outline-danger"><a href="">Indisponible</a></button>
            {% endif %}
        </li>
    </ul> #}


{% endblock %}
