{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Tools</h1>
    <ul>
        {% for tool in tools %}
            <li><a href="/tools/show?id={{ tool.id }}">{{ tool.id }}. {{ tool.name }}</a></li>
        {% else %}
            <li>Nothing to display</li>
        {% endfor %}
    </ul>
{% endblock %}
