{% extends 'layout.html.twig' %}

{% block content %}
    <br><h2>Détails sur le produit</h2><br>
    <p>{{ tool.name }}</p>
    <a href="/tools/edit?id={{ tool.id }}">Edit</a>
    <form action="/tools/delete" method="POST">
        <input type="hidden" name="id" value="{{ tool.id }}">
    </form>
    <a href="/tools">Back</a>
{% endblock %}
